<h1 class="page-title">Postings</h1>

<div class ="container">

<div class="alert alert-warning vs2" ng-if="requests.length == 0" role="alert">  
  <h4 class="alert-heading">No relevant postings</h4>
  <p>There are no requests relevant to your current seat at the moment.</p>
</div>

<div class="list-group vs2" ng-repeat="request in requests" on-finish-render="ngRepeatFinished">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{request.fromSeat}} wants to swap seat with you</h5>
      <small></small>
    </div>
    <p class="mb-1">Companions: {{request.companions}}</p>
    <p class="mb-1">Message: {{request.message}}</p>
  </a>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#respondModal-{{request.fromSeat}}-{{request.toSeat}}">
    Respond
  </button>

  <!-- Modal -->
  <div class="modal fade" id="respondModal-{{request.fromSeat}}-{{request.toSeat}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cancel Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <hr align="center" width="95%">
        <div class="modal-body" id="respondBody">
          Do you want to swap seat with {{request.fromSeat}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary declineBtn" id="{{request}}-2" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary acceptBtn" id="{{request}}-1" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
