<h1 class="page-title">Postings</h1>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seat Swap</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to swap seat with ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="list-group vs2" ng-repeat="request in requests">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{request.fromSeat}} wants to swap seat with you</h5>
      <small></small>
    </div>
    <p class="mb-1">Companions: {{request.companions}}</p>
    <small>Message: {{request.message}}</small>
  </a>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Respond
</button>
  </div>
