<h1 class="vs2">Requests</h1>

<div class="list-group" ng-repeat="request in requests">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{request.fromSeat}} wants to swap seat with you</h5>
      <small></small>
    </div>
    <p class="mb-1">Companions: {{request.companions}}</p>
    <small>Message: {{request.message}}</small>
  </a>
  </div>

<ul>
  <li ng-repeat="request in requests">{{request}}</li>
</ul>
