<!-- Banner -->
<div class="jumbotron jumbotron-fluid parallax" style="padding:0">
  <div class="container con-title">
    <h1 class ="page-title">Seat map</h1> 
    <h1 class="page-title" id="flightCode"></h1>
  </div>
</div>
<div style="height:275px"></div>
<section id="seat-map" name="seat-map" style="background-color:white;">
  <div class="seat-map-legend" align="center">
        <img class="legend" src="./assets/images/innovation_legend.png" alt="Seat map legend">
</div>
  <div class="plane">
    <div class="cockpit">
      <h4 id="mySeat"></h4>
      
    </div>
    <div class="exit exit--front fuselage"></div>
    <ol class="cabin fuselage" id="cabin"></ol>
    <div class="exit exit--back fuselage"></div>
  </div>
</section>

<div class="row" style="background-color:white;padding-top:3rem;padding-bottom:3rem;">
  <div class="col-4 col-sm-4 col-md-4">
    <div class="wrapper">
      <button type="button" class="btn request" data-toggle="modal" data-target="#modal-aisle" id="aisle-button">
        Request Aisle Seat
      </button>
   </div>
  </div>
  <div class="col-4 col-sm-4 col-md-4">
    <div class="wrapper">
      <button type="button" class="btn request" data-toggle="modal" data-target="#modal-window" id="window-button">
        Request Window Seat
      </button>
    </div>
  </div>
</div>

<!-- Aisle Seat Modal -->
<div class="modal fade" id="modal-aisle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Aisle Seat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr align="center" width="95%">
      <div class="modal-body" id="modal-body-aisle">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Window Seat Modal -->
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Window Seat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr align="center" width="95%">
      <div class="modal-body" id="modal-body-window">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="requestWindow">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Swapped Window Seat Modal -->
<div class="modal fade" id="modal-window-confirmed" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Accepted Seat Swap</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <hr align="center" width="95%">
        <div class="modal-body" id="modal-body-window-confirm">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>


<!-- confirm modal -->
<form>
<div class="modal fade" id="confirm-swap-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Swap</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr align="center" width="95%">
            <div class="modal-body" id="confirm-body"></div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirm-swap">Confirm</button>
            </div>
        </div>
    </div>
</div>
</form>

<!-- Accept incoming swap Modal -->
<div class="modal fade" id="modal-accept" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Accept Seat Swap</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr align="center" width="95%">
      <div class="modal-body" id="modal-body-accept"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ignore</button>
        <button type="button" class="btn btn-primary" id="modalAccept">Accept</button>
      </div>
    </div>
  </div>
</div>

  <!-- Swapped seats modal -->
  <div class="modal fade" id="modal-swapped" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seat Swapped</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <hr align="center" width="95%">
        <div class="modal-body" id="modal-body-swapped"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin:0 auto;">Ok</button>
        </div>
      </div>
    </div>
  </div>
  