<h1 class="page-title">SeatMap</h1>

<section id="seat-map" name="seat-map">
  <div class="plane">
    <div class="cockpit">
      <h1 id="flightCode"></h1>
      <h4 id="mySeat"></h4>
      
    </div>
    <div class="exit exit--front fuselage"></div>
    <ol class="cabin fuselage" id="cabin"></ol>
    <div class="exit exit--back fuselage"></div>
  </div>
</section>

<div class="row">
  <div class="col-6 col-sm-6 col-md-6">
    <div class="wrapper">
      <button type="button" class="btn request" data-toggle="modal" data-target="#modal-aisle" id="aisle-button">
        Request Aisle Seat
      </button>
   </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6">
    <div class="wrapper">
      <button type="button" class="btn request" data-toggle="modal" data-target="#modal-window" id="window-button">
        Request Window Seat
      </button>
    </div>
  </div>
</div>

<!-- Aisle Seat Modal -->
<div class="modal fade" id="modal-aisle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Aisle Seat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr align="center" width="95%">
      <div class="modal-body" id="modal-body-aisle">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Window Seat Modal -->
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Window Seat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr align="center" width="95%">
      <div class="modal-body" id="modal-body-window">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="requestWindow">Yes</button>
      </div>
    </div>
  </div>
</div>


<!-- confirm modal -->
<form>
<div class="modal fade" id="confirm-swap-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Swap</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr align="center" width="95%">
            <div class="modal-body" id="confirm-body"></div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirm-swap">Confirm</button>
            </div>
        </div>
    </div>
</div>
</form>

<!-- Accept incoming swap Modal -->
<div class="modal fade" id="modal-accept" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Accept Seat Swap</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr align="center" width="95%">
      <div class="modal-body" id="modal-body-accept"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ignore</button>
        <button type="button" class="btn btn-primary" id="modalAccept">Accept</button>
      </div>
    </div>
  </div>
</div>