<div class="row">
    <div class="welcome-holder">
      <div class="welcome-title-1">Welcome to Flight CX888</div>
    </div>
</div>

<h1>SeatMap</h1>

<section id="seat-map" name="seat-map">
  <div class="plane">
    <div class="cockpit">
      <h1 id="flightCode"></h1>
      <h4 id="mySeat"></h4>
      
    </div>
    <div class="exit exit--front fuselage"></div>
    <ol class="cabin fuselage" id="cabin"></ol>
    <div class="exit exit--back fuselage"></div>
  </div>
</section>

<div class="row">
  <div class="col-5 col-sm-4 col-md-3">
    <div class="wrapper">
      <button type="button" class="btn request" data-toggle="modal" data-target="#modal-aisle" id="aisle-button">
        Request Aisle Seat
      </button>
   </div>
  </div>
  <div class="col-5 col-sm-4 col-md-3">
    <div class="wrapper">
      <button type="button" class="btn request" data-toggle="modal" data-target="#modal-window" id="window-button">
        Request Window Seat
      </button>
    </div>
  </div>
</div>

<!-- Aisle Seat Modal -->
<div class="modal fade" id="modal-aisle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Aisle Seat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-aisle">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Window Seat Modal -->
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Window Seat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-window">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>


<!-- confirm modal -->
<form>
<div class="modal fade" id="confirm-swap-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none; display: flex; padding: 0 20px; margin-top: 20px;">
                <h5 class="modal-title">Confirm Swap</h5>
                <button type="button" class="close rotate-45" data-dismiss="modal" aria-label="Close">
                    <i class="icon icon-expand"></i>
                </button>
            </div>
            <hr align="center" width="95%">
            <div class="modal-body" id="confirm-body"></div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirm-swap">Confirm</button>
            </div>
        </div>
    </div>
</div>
</form>

<script>
$('#companion1').click(function() { showFirstCompanion(); return false;})
$('#companion2').click(function() { showSecondCompanion(); return false;})
$('.logout-icon').click(function() { showLogoutModal(); return false;})
$('#aisle-button').click(function() { showAisleModal(); return false;})
$('#window-button').click(function() { showWindowModal(); return false;})

function showAisleModal() {
      console.log("testing");
      $("#modal-body-aisle").empty();
      $("#modal-aisle").modal('show');
      $("#modal-body-aisle").prepend(`<span>Are you sure you want to request for an aisle seat? You will be allocated to the frontmost aisle seat if they are available.</span>`);
    }

    function showWindowModal() {
      $("#modal-body-window").empty();
      $("#modal-window").modal('show');
      $("#modal-body-window").prepend(`<span>Are you sure you want to request for a window seat? You will be allocated to the frontmost window seat if they are available.</span>`);
    }

    function showLogoutModal() {
      $("#modal-body-logout").empty();
      $("#logoutModal").modal('show');
      $("#modal-body-logout").prepend(`<span>Are you sure you want to logout?</span>`);
    }


    function showFirstCompanion(){
      $("#companion1").empty();
      $("#companion1").removeAttr("href");
      $("#companion1").prepend(`<span>10B</span>`);
      $("#companion1").off();
      $("#companion2").prepend(`<span>Click here to add a companion.</span>`);
      
    }

    function showSecondCompanion(){
      $("#companion2").empty();
      $("#companion2").removeAttr("href");
      $("#companion2").prepend(`<span>9B</span>`)

</script>



/*
<script src="./../js/index.js"></script>
*/