.seat.me label {
  background: purple;
}

.seat.free label {
  background: green;
}

.seat.option label {
  background: orange;
}

.jumbotron{
  background-image: url("/assets/images/plane_banner.jpg");
  background-size: cover;
	padding-bottom: 100px;
}


@media screen and (min-width: 375px) and (max-width: 428px) {
  .legend{
    width: 90%;
    max-width: 950px;
  }
}
@media screen and (min-width: 428px) and (max-width: 536px) {
  .legend{
    width: 100%;
    max-width: 950px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .legend{
    width: 60%;
    max-width: 950px;
  }
}

@media screen and (min-width: 536px) and (max-width: 992px) {
  .legend{
    width: 80%;
    max-width: 950px;
  }
}
@media only screen and (max-width: 380px) {
  .legend{
    width: 90%;
    max-width: 950px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .legend{
    width: 85%;
    max-width: 950px;
  }
}
@media only screen and (min-width: 768px) {
  .legend{
    width: 85%;
    max-width: 950px;
  }
}